__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.git/
.gitignore


json_files/*


data/models/markov_chains/*
data/models/probability_of_default/*
data/models/price_engine/*
data/models/initial_review/initial_review_results.csv
data/clean/
data/cleaned/ongoing_loans.csv
data/cleaned/splitter/initial_review_train_40k.csv
data/cleaned/splitter/train.csv
data/processed/


notebooks/
archive/